* {
   font-family: sans-serif;
}

p, li {
   margin-top: 10px;
   margin-bottom: 10px;
}

h2 {
   margin-top: 40px;
   margin-bottom: 10px;
   color: #111177;
}

h3 {
   margin-top: 40px;
   margin-bottom: 10px;
   color: #222299;
}

h4 {
   margin-top: 20px;
   margin-bottom: 10px;
   color: #2929b9;
}

h5 {
   margin-top: 20px;
   margin-bottom: 10px;
   color: #2929b9;
}

p, li {
   text-align: justify;
   line-height: 1.25em;
}

li ul {
   font-size: 95%;
}

hr {
   width: 40%;
   margin: 25px auto;
}

tt, pre {
   font-family: monospace;
   font-weight: bold;
}

p tt, li tt {
   color: #000099;
}

h2 tt, h3 tt, h4 tt, h5 tt {
   font-size: 140%;
}

img {
   display: block;
   margin: auto;
}

table {
   margin: auto;
}

.directory_tree li p:first-child {
   font-size: 140%;
}